<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>Web VQA</title>
    <script type = 'text/javascript' src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
</head>
<body>
    <p align="center" style='font-size: 1.5em;color: Black;'>Image Classfication</p>
    <p align="center" style='font-size: 1.2em;color: Black;'><u>Lab 11</u></p>
    <p align="center">Chen Wang(44)</p>
    <p  class = 'left_text'>Please select an image from your computer.</p>
    <button id = 'choose'>Choose file</button>
    <p><br></p>
    <img src='1.jpg'>
    <p><br></p>
    <p class = 'left_text'>Please give a question about this image:</p>
    <p class = 'left_text'><input type = 'text' placeholder = 'Question'></p>
    <p style='font-size: 1.5em;color: Black;' class = 'left_text'>The topic of this image is Spoon.</p>

</body>
</html>