<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>Web VQA</title>
    <script type = 'text/javascript' src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
</head>
<body>
    <p style='font-size: 1.5em;color: Black;'>Image Classfication</p>
    <p><u>Lab 10   Chen Wang(44)</u></p>
    <p class = 'left_text'>Please select an image from your computer.</p>
    <button id = 'choose'>Choose file</button>
    <p><br></p>
    <img src='10.jpg'>
    <p><br></p>
    <p style='font-size: 1.5em;color: Black;' class = 'left_text'>This is an image about Fork.</p>

</body>
</html>